@model ERP_GMEDINA.Models.tbCargos
@{
	ViewBag.Title = "Crear";
	Layout = "~/Views/Shared/_LayoutBaseRRHH.cshtml";
}
<link href="~/Content/plugins/switchery/switchery.css" rel="stylesheet" />
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default pull-right" })
					<h2>Registrar Tarea</h2>
				</div>
				<div class="ibox-content">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormNuevo" }))
                    {
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.car_Descripcion, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.car_Descripcion, new { htmlAttributes = new { @class = "form-control required", @onkeypress = "return alphanumeric(event)", @maxlength = 50, @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.car_Descripcion, "", new { @class = "text-danger", @id = "errorcar_Descripcion" })
                                </div>
                                <br>


                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.car_SueldoMinimo, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.car_SueldoMinimo, new { htmlAttributes = new { @class = "form-control required valid", @onkeypress = "return Numericos(event)", @autocomplete = "off", @maxlength = "16" } })

                                    @Html.ValidationMessageFor(model => model.car_SueldoMinimo, "", new { @class = "text-danger", @id = "errorcar_SueldoMinimo" })
                                </div>
                            </div>


                            <div class="form-group">

                                @Html.LabelFor(model => model.car_SueldoMaximo, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.car_SueldoMaximo, new { htmlAttributes = new { @class = "form-control required valid", @onkeypress = "return Numericos(event)", @autocomplete = "off", @maxlength = "16" } })
                                    @Html.ValidationMessageFor(model => model.car_SueldoMaximo, "", new { @class = "text-danger", @id = "errorcar_SueldoMaximo" })
                                </div>
                            </div>

                            
                            <div class="col-md-5">
                            <label class="col-md-10" style="text-align:center">Tareas</label>
                            <table class="table table table-striped table-bordered dataTable no-footer" style="width:100%" id="NoAsignados">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td id="RegistrosNoAsignados" style="background-color:#1ab394;color:white">Tarea</td>
                                        @*<td style="background-color:#1ab394"></td>*@
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        </div>
                     
                    }
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-10">
                            <button type="button" class="btn btn-primary pull-left" id="btnGuardar">Guardar</button>
                            <div style="display:none" class="btn" id="cargandoCrear">
                            </div>
                            @*@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })*@
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/Scripts/Scripts_Base/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/app/General/Cargos/Admin.js"></script>
<script src="~/Scripts/app/General/Cargos/Cargos.js"></script>
<script src="~/Scripts/plugins/iziToast/iziToast.js"></script>
<script src="~/Scripts/plugins/switchery/switchery.js"></script>


<link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />